.staffForm {
  background: #eff3f7;
  padding: 2rem;
  height: 90vh;
}
.staffHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.staffForm h2 {
  font-size: 2.4rem;
  font-weight: 500;
}
.FormLayoutStaff {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
  background: #fff;
  border-radius: 6px;
  width: 100%;
  height: 60vh;
  padding: 2rem;
  /* gap: 1rem; */
}
.two {
  display: flex;
  gap: 1.6rem;
  margin: 1.6rem 0;
}
.formAction {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.formAction label {
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}
.formAction span {
  color: red;
}
.formAction input {
  padding: 1.2rem 0.8rem;
  border-radius: 4px;
  border: 1px solid #d0cece;
  color: #2a2929;
}
.formAction input::placeholder {
  color: #d0cece;
}
.activeSelcted {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.activeSelcted input {
  width: 2rem;
  height: 2rem;
}
.activeSelcted span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
.activeSelcted .actived {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.actions {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
