.changePassword {
  margin: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.changePassword form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formAction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formAction label {
  color: #465f71;
  font-size: 1.6rem;
}
.formAction input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #465f71;
  border-radius: 4px;
}
.saveChange {
  width: 15%;
  padding: 0.9rem 1.2rem;
  border-radius: 4px;
  background: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.formAction textarea {
  resize: none;
  height: 20vh;
  border: 1px solid #465f71;
  border-radius: 4px;
}
